@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root[theme = "light"] {
      --color-bg-primary: 221 232 235;
      --color-bg-secondary: 239 239 239;
      --color-bg-tertiary: 255 255 255;

      --color-text-primary:29 29 29;
      --color-text-secondary:85 82 81;
      --color-text-tertiary:  66 139 202;

    --color-webtheme-primary: 106 192 69;
    --color-webtheme-secondary: 34 139 34;

  }
  :root[theme = "dark"] {
    --color-bg-primary: 29 29 29;
      --color-bg-secondary: 23 23 23;
      --color-bg-tertiary: 0 0 0;

    --color-text-primary:255 255 255;
    --color-text-secondary: 100 100 100;
    --color-text-tertiary: 66 139 202;

  --color-webtheme-primary: 106 192 69;
  --color-webtheme-secondary: 34 139 34;
  }
}